@font-face {
  font-family: "The Seasons";
  src: url(../fontes/TheSeasons.ttf);
}

body, html{
  overflow-x: hidden;
  width: 100%;
}

.hidden {
  display: none;
  pointer-events: none;
}

.decoration {
  width: 400px;
}

.text-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "The Seasons";
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 20px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  margin: 30px -50px;
  padding: 10px 0;
  z-index: 1;
}

.slideshow {
  overflow: hidden;
  width: 100%;
}

.wrapper {
  position: relative;
}

.track {
  transition: transform 0.5s ease;
  display: flex;
  --gap: 20px;
  gap: var(--gap);
  --visible_elements: 3;
  --gap_space: calc((var(--visible_elements) - 1) * var(--gap));
}

.item {
  flex: 0 0 auto;
  cursor: pointer;
  /* para 2 elemento, muda o numero de gaps (n-1) e o numero da divisão (n) */
  overflow: hidden;
  width: calc((100% - var(--gap_space)) / var(--visible_elements));
  border: 1px solid #be9a5e;
}

@media (hover: hover) {
  .item:hover .price-conteiner {
    opacity: 0.9;
  }
  .item:hover .product-name {
  color: #be9a5e;
  }
}

.priceConteinerVisible{
  opacity: 0.9 !important;
}

.productNameVisible{
  color: #be9a5e !important;
}

.product-image {
  width: 100%;
}

.price-conteiner{

  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e8e8e8;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3{
  z-index: 3;
  font-family: 'Bree Serif';
  width: 130px;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price{
  width: 100%;
  display: flex;
  margin: 15px 0;
  justify-content: center;
}

.slide-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  z-index: 1;
  padding: 2px;
  background-color: #fff;
}
.left-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
  z-index: 1;
  padding: 2px;
  background-color: #fff;
}

.button-img {
  width: 45px;
  z-index: 1;
}

.product-name {
  font-size: 1.5rem;
  font-family: "The Seasons";
  width: 80%;
  text-transform: uppercase;
  margin: 20px 10px;
  transition: color 0.3s ease;
}

@media(max-width: 630px) {
  .product-name{
    font-size: 1.1rem;
  }
  
}

.product-name-conteiner {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
}

.product-img-conteiner {
  display: flex;
  justify-content: center;
  height: 75%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1000px) {
  .track {
    --visible_elements: 2;
  }
  header {
    padding: 5px 30px;
  }
}

@media (max-width: 500px) {
  .product-name{
    font-size: 1.5rem;
  }
  .whatsapp-link {
    padding: 15px;
    margin-bottom: 0;
  }
  .catalogo-link {
    padding: 30px 20px;
    margin-right: 0;
    margin-bottom: 40px;
    box-shadow: 3px 3px 20px 3px #e4d00a;
  }
  body {
    padding: 0 50px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 130px;
  }
  body {
    padding: 0 40px;
  }
  .track {
    --visible_elements: 1;
  }
  .decoration {
    width: 300px;
  }
  h1 {
    font-size: 2rem;
  }
  .button-img {
    width: 40px;
  }
}

@media (max-width: 400px) {
  body {
    padding: 0 30px;
  }
  .whatsapp-link {
    padding: 12px;
  }
  .logo {
    width: 100px;
  }
}
